:root {
  --primary-font: 14px Open Sans;
  --secondary-font: 12px Open Sans;
  --tertiary-font: 10px Open Sans;

  --toast-font: var(--tertiary-font);
  --toast-bg: #323232;
  --toast-fg: #ededf0;
  --toast-error-bg: #ff0e0e;
  --toast-error-fg: whitesmoke;

  --screen-font: var(--primary-font);
  --screen-bg: whitesmoke;
  --screen-fg: #323232;

  --separator-color: #ff4b00;

  --selected-bg: #873eff;
  --selected-fg: white;

  --softkeys-font: var(--tertiary-font);
  --softkeys-bg: #323232;
  --softkeys-fg: whitesmoke;

  --header-bg: #320374;
  --header-fg: white;

  --mark-font: var(--secondary-font);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('vendor/open-sans/open-sans-latin-400-normal.woff2') format('woff2')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('vendor/open-sans/open-sans-latin-600-normal.woff2') format('woff2')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('vendor/open-sans/open-sans-latin-700-normal.woff2') format('woff2')
}

body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100vw;
}
dialog {
  padding: 0;
  border-width: 0;
  width: 100%;
  height: 100%;
}
code {
  padding: 1px 3px;
  font: var(--tertiary-font);
  color: var(--toast-fg);
  background-color: var(--toast-bg);
}
kbd {
  padding: 1px 3px;
  font: var(--tertiary-font);
  color: var(--toast-bg);
  background-color: var(--toast-fg);
  border-radius: 2px;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
p {
  margin: 0;
  padding: 1rem;
  font: var(--screen-font);
  background-color: var(--screen-bg);
  color: var(--screen-fg);
}
input {
  margin: 0 6px;
  position: relative;
  top: 3px;
}
textarea {
  width: -moz-available;
  margin: 6px 0;
  border: 1px solid var(--screen-fg);
}
label img {
  border-width: 0;
  position: relative;
  top: 3px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

#toast {
  position: fixed;
  width: 100%;
  z-index: 2000;
  font: var(--toast-font);
  background-color: var(--toast-bg);
  color: var(--toast-fg);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}
#toast .error {
  background-color: var(--toast-error-bg);
  color: var(--toast-error-fg);
}
ul#toast li {
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  padding: 6px;
}

#compass {
  z-index: 1998;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 220px;
  display: none;
}

#screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1999;
  font: var(--screen-font);
  background-color: var(--screen-bg);
  color: var(--screen-fg);
  overflow: auto;
  word-wrap: normal;
}
#screen .middle {
  text-align: center;
}
#screen h3 {
  margin: 12px;
  border-bottom: 1px solid var(--header-bg);
  font: var(--primary-font);
}
#screen h4 {
  margin: 12px;
}
#screen i {
  font: var(--primary-font);
  font-weight: 600;
  display: inline-block;
  width: 60px;
  text-align: right;
}
#screen hr {
  border: 1px solid var(--separator-color);
  margin: 12px 0;
}
#screen .opt {
  display: inline-block;
}

.choices {
  margin: 12px;
  border: 1px solid var(--selected-bg);
  border-bottom-width: 0;
}
.choices.inline > * {
  display: flex;
  justify-content: space-between;
  font: var(--primary-font);
}
.choices > * {
  padding: 6px;
  border-bottom: 1px solid var(--selected-bg);
  font: var(--secondary-font);
}
.choices big {
  display: block;
  font: var(--primary-font);
  font-weight: 600;
}
.choices .selected {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

#bottom {
  z-index: 2001;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.softkeys {
  display: flex;
  justify-content: space-between;
  background-color: var(--softkeys-bg);
  color: var(--softkeys-fg);
}
.softkeys button {
  margin: 0;
  padding: 4px;
  border-width: 0;
  background: none;
  background-color: var(--softkeys-bg);
  color: var(--softkeys-fg);
  font: var(--softkeys-font);
  font-weight: 600;
  outline: none;
}
.softkeys button.enter {
  font: var(--softkeys-font);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mark {
  font: var(--mark-font);
}
.mark .pos {
  font: var(--tertiary-font);
}
.mark .orient {
  font-style: italic;
}
.mark p {
  margin: 0 !important;
  padding: 0 !important;
  white-space: pre-line;
}

#datacompass {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: relative;
  overflow: hidden;
}
#datacompass .value {
  text-align: center;
  position: absolute;
  top: 20px;
  width: 100%;
  font-size: 300%;
  font-weight: bold;
  color: var(--toast-error-bg);
}

.data {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.data #datacompass {
  flex: auto;
}
.data .pos {
  margin: 6px 0;
  font: var(--primary-font);
}
.data .pos code {
  display: block;
  text-align: center;
  font-size: 200%;
}
.data .track h5 {
  padding: 0;
  margin: 0;
  font: var(--terciary-font);
  border-top: 1px dotted #aaa;
  white-space: nowrap;
  text-overflow: clip;
}
.data small {
  display: block;
  font: var(--secondary-font);
  text-transform: lowercase;
  text-align: center;
}
.data small label {
  font-weight: bold;
  padding-right: 4px;
}
